@import '../../styles/colors.scss';

.doctor_visit_element_block {
	width: 60%;
	display: grid;
	grid-template-columns: 50% 20% 20%;
	padding: 10px;
}

.doctor_visit_element_block:nth-child(even) {
	background-color: $even-element;

	&:hover {
		background-color: $even-element-hover;
	}
}

.doctor_visit_element_block:nth-child(odd) {
	background-color: $odd-element;

	&:hover {
		background-color: $odd-element-hover;
	}
}
