@import '../../styles/colors.scss';
// @import '../../../styles/themes.scss';

.top {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 67px;
	margin-top: 10px;
	left: calc(10% + 10px);
}

// .top_screen {
// 	position: absolute;
// 	width: 90%;
// 	top: 67px;
// 	right: 0;
// 	margin: 0px;
// }

.menubar_display {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 30px;
	justify-content: center;
}

a {
	height: 40px;
	color: $white;
	text-decoration: none;
}

.top_display_logged {
	position: absolute;
	width: 90%;
	right: 0;
	top: 67px;
	min-height: calc(100vh - 77px);
	margin: 0px;
}

.top_display_not_logged {
	margin: 0px;
	position: absolute;
	left: 0;
	right: 0;
	top: 67px;
	min-height: calc(100vh - 77px);
}
