@import '../../styles/colors.scss';
// @import '../../../styles/themes.scss';

.top {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 67px;
	width: 90%;
}

.top_screen {
	position: absolute;
	width: 90%;
	top: 67px;
	right: 0;
	margin: 0px;
}

.menubar_display {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 30px;
	justify-content: center;
}

a {
	height: 40px;
	color: $white;
	text-decoration: none;
}

.top_display {
	width: 100%;
}
