.ratings_add {
	&:hover .rating_less,
	&:hover .rating_more,
	&:hover .no_rate {
		cursor: pointer;
	}

	&:hover .no_rate {
		color: #cc9900;
	}

	.no_rate:hover ~ .no_rate {
		cursor: pointer;
		color: #000;
	}

	.no_rate:hover {
		cursor: pointer;
		color: #cc9900;
	}
}

.rating_less {
	color: #000;
}

.rating_more {
	color: #cc9900;
}
