.link_button {
	color: #4e5357;
	border: 1px solid #4e5357;
	border-radius: 50px;
	font-size: 20px;
	width: auto;
	padding: 0px 10px;
	height: 50px;
	line-height: 50px;

	&:hover {
		cursor: pointer;
	}
}
