@import '../../styles/colors.scss';

.header_logged {
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: $blue;
	color: $white;
	height: 67px;
	width: 100%;
	position: fixed;
	z-index: 1;
	* {
		height: 100%;
	}
}

.header_not_logged {
	display: flex;
	flex-direction: row;
	background-color: $blue;
	color: $white;
	height: 67px;
	width: 100%;
	position: fixed;
	z-index: 1;
}

.push {
	margin-left: auto;
}

.app_title {
	text-align: left;
	font-size: 50px;
}

.register_button {
	display: flex;
	flex-direction: row;
	font-size: 25px;
}

.app_name_paragraph {
	position: absolute;
	left: 300px;
	bottom: 0px;
	line-height: 60px;
	font-size: 60px;
}
