.visit_page_block {
	p {
		font-size: 25px;
	}
}

.visit_date_block {
	display: flex;
	flex-direction: row;
}

.available_doctors_paragraph {
	text-align: center;
}

.visit_time_one_columns_block {
	padding: 20px;
	text-align: center;
	margin: auto;
}

.visit_time_two_columns_block {
	padding: 20px;
	display: grid;
	grid-template-columns: 50% 20%;
}
