@import '../../styles/colors.scss';

.doctor_element_block {
	width: 90%;
	height: 100px;
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 10px;
}

.doctor_element_block:nth-child(even) {
	background-color: $even-element;

	&:hover {
		background-color: $even-element-hover;
	}
}

.doctor_element_block:nth-child(odd) {
	background-color: $odd-element;

	&:hover {
		background-color: $odd-element-hover;
	}
}

.doctor_name_paragraph {
	font-size: 20px;
	text-align: left;
}

.doctor_element_block > * {
	height: 100%;
	line-height: 50px;
}

.doctor_element_block > p {
	text-align: left;
	margin: 0px;
}

.doctor_element_block > a {
	text-align: center;
}
