.doctor_block {
	width: 90%;
}

.doctor_information_block {
	display: grid;
	grid-template-columns: 20% 30% 50%;
	padding: 10px;
}

.rating_statics_block {
	display: flex;
	flex-direction: column;
}

.golden_star {
	color: #cc9900;
}

.bar {
	background-color: gray;
	height: 21px;
}

.element {
	width: auto;
	padding: 5px;
	margin: 0px;
	align-items: left;
	display: flex;
	flex-direction: row;

	* {
		padding: 0px;
		margin: 0px;
	}
}

.comment_information {
	margin: 20px;
}
